<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{pageTitle}}</title>
</head>
<body>
  {{> header}}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quia dignissimos asperiores, laudantium reprehenderit dolor nesciunt consequuntur temporibus pariatur. Deleniti doloribus debitis nisi saepe suscipit corporis optio delectus neque amet.</p>


  {{> footer}}
</body>
</html>
